body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
    cursor: pointer;
}

nav ul li:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 350px;
}
/* 
#student-info{
    display: flex;
    justify-content: center;
} */

.buttons {
    margin-top: 20px;
    text-align: center;
}

.buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 17px;
    width: 150px;
}

.buttons button:hover {
    background-color: #45a049;
}

.table-container {
    display: flex;
    justify-content: center; /* Centers the table horizontally */
    align-items: center; /* Centers the table vertically */
    height: 100vh; /* Full height of the viewport */
}

.student-table {
    width: 200%;
    height: 400px; /* Set the desired height */
    border-collapse: collapse;
    overflow-y: auto; /* Add vertical scrolling if content exceeds height */
    display: block; /* Ensures the table is scrollable */
}

.student-table th, .student-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.student-table th {
    background-color: #f4f4f4;
}

.student-table td {
    background-color: #ffffff;
}

#submitButton, #cancelButton {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 17px;
    width: 100px;
}

.editRemoveBtn {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 17px;
    width: 100px;
}

footer {
    background-color: rgb(11, 3, 78);
    text-align: center;
    /* height: 25px; */
    padding: 8px;
    margin-top: 15px;
    font-size: 16px;
    color: white;
}


#studentForm{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    padding: 15px;
}

.bodyDiv{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
    padding: 25px;
}